/* Reset */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/* Utility */
 .flex-container {
     display: flex;
 }


/* Body */
/******* Header section *******/
header {
    height: 60px;
    background-color: #000;
}


/******* Main section *******/
main {
    height: calc(100vh - 120px);
    background-color: #000;
    overflow: scroll;
}

.participants .profile-picture {
    padding: 5px 5px ;
}

.participants  {
    flex-wrap: wrap;
}


/******* Footer section *******/
footer {
    height: 60px;
    background-color:#222222;
}



